<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-10 mx-auto">
      <form class="bg-white p-5">
        <div class="form-group">
          <input type="text" class="form-control border-0 p-4" placeholder="Enter name">
        </div>
        <div class="form-group">
          <textarea class="form-control border-0 p-4" placeholder="Enter message"></textarea>
        </div>
        <button type="submit" class="btn btn-dark btn-block btn-lg">Send</button>
      </form>
    </div>
  </div>
</div>