<banner></banner>
<filter (filterItems)="onFilterChange($event)"></filter>
<div class="container">
    <ngb-accordion (panelChange)="displayPanel($event)" [closeOthers]="true">
        <ngb-panel *ngFor="let stop of stops" title="Stop {{stop.id}}: {{stop.name}}">
            <ng-template ngbPanelContent>
                <div *ngFor="let item of stop.items">
                    <h4 class="text-center">{{item.name}}</h4>
                    <div *ngFor="let img of item.images">
                        <img src="{{img}}" class="img-fluid mx-auto d-block" alt="" height="190" width="253">
                    </div>
                    <ng-container *ngIf="item.category === 'PLANT'; else burials">
                        <p><span class="font-weight-bold">Description: </span>{{item.description}}</p>
                    </ng-container>
                    <ng-template #burials>
                        <ng-container>
                        <p><span class="font-weight-bold">Narrative: </span>{{item.description}}</p>
                        </ng-container>
                    </ng-template>
                    <p><span class="font-weight-bold">Plot Designation: </span>{{item.plot}}</p>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<!--<card [whichItem]="'info'" [filters]="filter"></card>-->