<div class="container">
  <!--<search></search>-->
  <div class="row">
    <ng-container *ngIf="whichItem === 'info'; else burials">
      <div class="col-sm-6 col-lg-3" *ngFor='let item of getItems()'>
        <div class="card" (click)="open(item.id)">
          <img src="{{item.image}}" class="card-img-top" height="190" width="253" alt="">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #burials>
      <ng-container *ngIf="whichItem === 'burial'; else trails">
        <div class="col-sm-6 col-lg-3" *ngFor='let item of getBurials()'>
          <div class="card" (click)="open(item.id)">
            <img src="{{item.image}}" class="card-img-top" height="190" width="253" alt="">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #trails>
      <div class="col-sm-6 col-lg-3" *ngFor='let item of getTrails()'>
        <div class="card" (click)="open(item.id)">
          <img src="{{item.image}}" class="card-img-top" height="190" width="253" alt="">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>