<div class="container">
  <div class="row">
    <p>Restoration work at the 200-year-old pioneer cemetery 
      on Congress Avenue in Rochester, NY began in 2015 and 
      is ongoing. The cemetery includes military and civilian 
      burials. It is a joint project of the 19th Ward Community 
      Association, its History & Archives group, local veterans 
      organizations and the City of Rochester. Reclamation support 
      comes from coordination with City departments, neighborhood 
      volunteers, Scout groups and college service organizations.</p>

      <p>Ground-penetrating radar scanning of the 1.5 acre site took 
        place in 2016.  Research continues into the lives of persons 
        buried at Rapids Cemetery and the neighborhood’s rich Abolition-era 
        history. To celebrate our progress, we held an inaugural Independence 
        Day celebration in 2018 with outdoor choral music from the 19th Century.</p>
      
      <p>In recognition of the 19th Ward Community Association’s 50th 
        anniversary in 2015, the organization was honored by the Landmark 
        Society of Western New York with a Special Citation Award highlighting 
        that the association "strives to preserve the residential character of its 
        neighborhood by fostering a multi-racial community where people share a sense 
        of pride and culture, as well as history."</p>

        <p><a href="https://19wca.org/">Click here</a> to visit the 19th Ward Community Association website.</p>
  </div>
</div>
