<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-10 mx-auto">
      <ngb-alert *ngIf="error === true" type="danger" [dismissible]="false">{{errorMessage}}</ngb-alert>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm); loginForm.reset()" ngNativeValidate class="bg-white p-5" enctype='multipart/form-data'>
        <div class='form-group'>
          <input type='text' [(ngModel)]="username" name='username' class='form-control border-0 p-4' placeholder="Username" required>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password" name='password' class="form-control border-0 p-4" placeholder="Password" required>
        </div>
        <div class='form-group'>
          <button type="submit" class='btn btn-dark btn-block'>Login</button>
        </div>
        <div class="form-group text-center">
          <a routerLink="/admin/forgot">Forgot Password</a>
        </div>
      </form>
    </div>
  </div>
</div>