<form #editItemForm="ngForm" (ngSubmit)="onSubmit(editItemForm); editItemForm.reset()" ngNativeValidate class="bg-white p-5" enctype='multipart/form-data'>
  <h3>Edit Item</h3>
  <div class='form-group'>
    <select class='form-control' [(ngModel)]="id" name="id">
      <option *ngFor="let item of items" [value]="item.id">{{item.name}}</option>
    </select>
  </div>
  <div class='form-group'>
      <button type="button" (click)="edit()" class='btn btn-dark btn-block'>Edit</button>
  </div>
  <ng-template [ngIf]="displayEdit">
    <div class='form-group'>
      <select class='form-control' [ngModel]="category" (ngModelChange)="onChange($event)" name="category" required>
        <option value="PLANT">Plant</option>
        <option value="GRAVE">Grave</option>
        <option value="TRAIL">Trail</option>
      </select>
    </div>
    <div class='form-group'>
      <input type='text' [(ngModel)]="name" name='name' class='form-control border-0 p-4' placeholder="Name" required>
    </div>
    <ng-container *ngIf="category === 'PLANT'; else grave">
      <div class='form-group'>
        <textarea [(ngModel)]="description" name='description' class='form-control border-0 p-4' placeholder="Description" required></textarea>
      </div>
      <div class='form-group'>
        <input type='text' [(ngModel)]="plot" name='plot' class='form-control border-0 p-4' placeholder="Plot Designation">
      </div>
    </ng-container>
    <ng-template #grave>
      <ng-container *ngIf="category === 'GRAVE'; else trail">
        <div class='form-group'>
          <input type='text' [(ngModel)]="dateOfBirth" name='dateOfBirth' class='form-control border-0 p-4' placeholder="Date of Birth" required>
        </div>
        <div class='form-group'>
          <input type='text' [(ngModel)]="placeOfBirth" name='placeOfBirth' class='form-control border-0 p-4' placeholder="Place of Birth" required>
        </div>
        <div class='form-group'>
          <input type='text' [(ngModel)]="dateOfDeath" name='dateOfDeath' class='form-control border-0 p-4' placeholder="Date of Death" required>
        </div>
        <div class='form-group'>
          <input type='text' [(ngModel)]="placeOfDeath" name='placeOfDeath' class='form-control border-0 p-4' placeholder="Place of Death" required>
        </div>
        <div class='form-group'>
          <textarea [(ngModel)]="veteranInformation" name='veteranInformation' class='form-control border-0 p-4' placeholder="Veteran Information" required></textarea>
        </div>
        <div class='form-group'>
          <textarea [(ngModel)]="notes" name='notes' class='form-control border-0 p-4' placeholder="Notes" required></textarea>
        </div>
        <div class='form-group'>
          <input type='text' [(ngModel)]="plot" name='plot' class='form-control border-0 p-4' placeholder="Plot Designation">
        </div>
      </ng-container>
    </ng-template>
    <ng-template #trail>
      <ng-container *ngIf="category === 'TRAIL';">
        <div class='form-group'>
          <textarea [(ngModel)]="description" name='description' class='form-control border-0 p-4' placeholder="Description" required></textarea>
        </div>
        <div class='form-group'>
          <input type='text' [(ngModel)]="media" name='media' class='form-control border-0 p-4' placeholder="Link" required>
        </div>
      </ng-container>
    </ng-template>
    <div class='form-group'>
      <input type='file' [(ngModel)]="image" name='image' class='form-control'>
    </div>
    <div class='form-group'>
      <button type="submit" class='btn btn-dark btn-block'>Update</button>
    </div>
  </ng-template>
</form>