<div class="container">
  <ngb-accordion [closeOthers]="true">
    <ngb-panel title="What is the cemetery’s street address?">
      <ng-template ngbPanelContent>
        The address is 90 Congress Avenue, Rochester,  NY 14619.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="How did it get its name?">
      <ng-template ngbPanelContent>
        Rapids Cemetery is named after the nearby pioneer Rapids 
        settlement located at today’s Brooks Landing (Brooks Avenue 
        at Genesee Street). Glacial deposits of boulders at this Genesee 
        River location created cataracts resulting in non-navigable shallow 
        fast-flowing waters. 
      </ng-template>
    </ngb-panel>
    <ngb-panel title="How big is the cemetery?">
      <ng-template ngbPanelContent>
        Early records indicate that it is about 1.5 acres. The accessible flat
        cemetery surface area today is roughly the size of a football field. The 
        northern slope needs further reclamation.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is the cemetery accessible for persons with mobility difficulty?">
      <ng-template ngbPanelContent>
        The cemetery has some elevations and depressions that impede wheelchair 
        access and make mobility difficult for persons with walkers. All visitors 
        should enter the cemetery at its west side to avoid the sloped terrace. Bench 
        seating is minimal.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is there visitor access to restrooms?">
      <ng-template ngbPanelContent>
        No. Visitors must use Genesee Street commercial business restrooms 
        located about a 7-minute walking distance from the cemetery.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is the cemetery near any major bicycle trails?">
      <ng-template ngbPanelContent>
        Rapids Cemetery is about a mile from the bicycle trailhead junction in Genesee 
        Valley Park that links the Erie Canalway, Genesee Valley Greenway and the City 
        of Rochester’s Riverway Trails.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="How does a tourist transfer from the Riverway bicycle trail to locate Rapids Cemetery?">
      <ng-template ngbPanelContent>
        Make a detour westward from the Riverway bicycle trail at the Brooks Landing pedestrian bridge. 
        (Brooks Avenue and South Plymouth Avenue). Proceed one-third mile southward along Genesee Street 
        to 90 Congress Avenue.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="How old is the cemetery?">
      <ng-template ngbPanelContent>
        It is two hundred years old. It was incorporated in 1818 but land 
        acquisition from the Wadsworth family of Geneseo took place several 
        years earlier.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Why is it located here?">
      <ng-template ngbPanelContent>
        The elevation provides good soil drainage in a formerly marshy area. 
        The flat surface is part of a glacial moraine (accumulated soil and rock 
        deposits from a glacier). It is perhaps the highest location in southwest Rochester. 
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What is the cemetery’s connection with the suburb of Gates, NY?">
      <ng-template ngbPanelContent>
        Rapids Cemetery was originally within the town borders of Gates. The City of Rochester 
        annexed this land in 1902 as it expanded outwards with trolley service. 
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Who is buried at Rapids Cemetery?">
      <ng-template ngbPanelContent>
        The cemetery has a mix of civilian and military burials. 
        Veterans from the Revolutionary War, War of 1812,  Civil War 
        and possibly the Spanish-American War are interred here. The true 
        number of burials is unknown due to limited surviving records of 
        actual burials.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Who were the early residents at Rapids settlement?">
      <ng-template ngbPanelContent>
        Some were farmers but many were canal boatmen for the Genesee 
        Valley Canal that ran parallel to the Genesee River at this site. 
        Others were teamsters who off-loaded and transported river cargo by 
        wagon to the early downtown Rochester settlement.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What were some of the other occupations of persons buried at Rapids Cemetery?">
      <ng-template ngbPanelContent>
        Rapids Cemetery includes laborers, barrel-makers (coopers), inn and tavern keepers, 
        carpenters, blacksmiths, seamstresses, domestic servants, washerwomen, architects, a 
        chairmaker, a whip-maker, a police constable, a lawyer and even a Justice of the Peace.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Does the cemetery appear today the way it did during its productive years?">
      <ng-template ngbPanelContent>
        In its prime, the cemetery featured many more headstones and other artifacts 
        related to roadways, burial plots and maintenance. The current trees did not 
        exist. The surrounding orchards gave way to housing developments in the early 
        decades of the Twentieth Century.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What is the connection with nearby Genesee Baptist Church?">
      <ng-template ngbPanelContent>
        Several founding members of the church are buried here. Originally 
        known as Rapids Baptist Church, it began as a mission to minister to 
        the needs of the Rapids settlement. The area was considered rowdy with 
        several taverns and there was occasional conflict among the residents. 
      </ng-template>
    </ngb-panel>
    <ngb-panel title="How was the land surrounding the cemetery used before residential homes were built?">
      <ng-template ngbPanelContent>
        The rich wheat-producing farmland in southwest Rochester also supported extensive 
        floral and fruit tree nurseries. An apple orchard bordered the cemetery in its early 
        days. At the time of the Erie Canal relocation, circa 1920, there was crude temporary 
        worker housing in the area.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Rapids Cemetery has a Potter’s Field. What does this mean?">
      <ng-template ngbPanelContent>
        Many residents of Rapids settlement were very poor and many had no family locally. 
        They were likely buried in a simple fabric shroud with no casket or headstone. The 
        Potter’s Field segment of Rapids Cemetery occupies the southwest border along the sidewalk.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Why do so many of the grave plots shown on the cemetery map list the name “Stranger”?">
      <ng-template ngbPanelContent>
        Rapids settlement was populated with young migrants from elsewhere 
        in the US and immigrants to America fleeing harsh economic conditions 
        and wars. Many died young from disease with no family to remember them. 
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Headstone inscriptions indicate that children and many women died quite young. Why?">
      <ng-template ngbPanelContent>
        Diseases claimed many lives. Today’s medicines, antibiotics and sanitation 
        were not available then. Epidemics like cholera and malaria (known as “Genesee Fever”) 
        caused death. Many young women died due to complications at or after childbirth.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What Civil War regiments with burials at Rapids Cemetery departed from Rochester?">
      <ng-template ngbPanelContent>
        Rochesterians joined the 13th New York Volunteer Infantry, 108th NYVI 
        and 140th NYVI. The 108th and 140th NYVI trained at Camp FitzJohn Porter 
        about a mile north of Rapids Cemetery along the Genesee River near Flint 
        Street. Veterans from other regiments are buried here also.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Are the Civil War headstones the original ones?">
      <ng-template ngbPanelContent>
        All the Civil War gravestones at Rapids Cemetery are Government-Issued 
        replacements added in the 1960s at the time of the Civil War Centennial.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Why did the Rapids settlement fall into decline?">
      <ng-template ngbPanelContent>
        Rapids settlement is older than the Rochesterville settlement of 1811. 
        Location of the Erie Canal aqueduct in the 1820s at Nathaniel Rochester’s 
        One Hundred Acres plot drew economic development and population growth two 
        miles northward. Rapids settlement never recovered.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="How do you know who is buried here?">
      <ng-template ngbPanelContent>
        A cemetery map created by Isaac Loomis and updated in 1881 lists 
        individual or family burial plots. Surveys done generations ago by 
        the Daughters of the American Revolution add further detail. Current 
        genealogical research continues. 
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is there anyone famous buried here?">
      <ng-template ngbPanelContent>
        A local hero of the War of 1812, Captain Daniel Loomis is 
        buried here along with his extended family. Lesser-known 
        burials are persons whose names are memorialized in local 
        street names (Brooks, Thurston, Ballintine).
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What famous Rochesterian lived nearby?">
      <ng-template ngbPanelContent>
        Susan B. Anthony lived at her father’s family farm near today’s 
        Brooks Avenue and Genesee Park Blvd. She lived here during her 
        Temperance, Abolition and Women’s Rights periods from 1840 until 
        1865. She then moved to Madison Street in Rochester.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is there an Underground Railroad historical connection?">
      <ng-template ngbPanelContent>
        There are identified Underground Railroad locations in southwest 
        Rochester. Abolitionist Frederick Douglass visited the Anthony family 
        farm. Nineteenth Ward resident Asa Anthony, a distant cousin of Susan, 
        helped freedom-seekers find refuge. Further research is needed.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is Susan B. Anthony or Frederick Douglass buried at Rapids Cemetery?">
      <ng-template ngbPanelContent>
        No. Each has a separate burial plot in the Victorian-style municipal Mt. Hope 
        Cemetery noted for its design by the famed Olmsted landscape architecture family.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Why did the cemetery fall into neglect?">
      <ng-template ngbPanelContent>
        The citizens who founded the private cemetery corporation had 
        moved or passed away by 1910.  Neither the County nor the City 
        assumed cemetery ownership. It grew significantly wild for over one
        hundred years. The City of Rochester now controls and maintains the 
        grounds. 
      </ng-template>
    </ngb-panel>
    <ngb-panel title="When was the last burial at Rapids Cemetery? ">
      <ng-template ngbPanelContent>
        The last known burial was William L. King in 1941. The cemetery 
        had become overgrown and neglected around 1910. Many neighbors were 
        surprised at that time that a cemetery even existed there.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Why are there so few visible headstones or other cemetery artifacts?">
      <ng-template ngbPanelContent>
        Many of the Rapids settlement residents were poor and could not 
        afford headstones. Some grave markers, over time, had sunk into the 
        ground. Many were vandalized. Some were removed to create a playing 
        field by neighborhood youth.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is it permissible to make headstone rubbings to make paper images of the inscriptions?">
      <ng-template ngbPanelContent>
        NO. This technique is forbidden in Rochester-area cemeteries. The process 
        causes damage to the fragile headstone surface.  Photography and digital 
        imaging are welcome.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Are there any hidden headstones today?">
      <ng-template ngbPanelContent>
        A professional Ground-Penetrating Radar (GPR) flat terrain scan 
        performed in 2016 identified only one headstone. Careful manual 
        soil-probing since 2016 uncovered about ten subsurface headstones. 
        A few artifacts might still be hidden along the northern sloped border.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Which headstone is presumed to be misplaced?">
      <ng-template ngbPanelContent>
        Spanish-American War veteran Frederick Peiffer is actually 
        buried at Mt. Hope Cemetery. The headstone at Rapids Cemetery 
        is a duplicate that lacks key dates. Its placement here is a 
        mystery. Several other headstone pieces have migrated somewhat 
        from their original positions.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Is there a geocache box located at Rapids Cemetery?">
      <ng-template ngbPanelContent>
        Yes. A small box is hidden somewhere on the cemetery grounds. 
        The originator is unknown. Enjoy the exploration and discovery 
        process. Return the box to its location.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Who is responsible for the Rapids Cemetery restoration?">
      <ng-template ngbPanelContent>
        Back in 2015 the 19th Ward Community Association responded to 
        requests from local veterans groups to restore the cemetery. 
        Over 100 neighborhood, college, civic and youth group members 
        have contributed since then with practical assistance from the 
        City of Rochester.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What is the Rapids Cemetery Restoration Committee?">
      <ng-template ngbPanelContent>
        This group began in 2015 and includes the 19th Ward History & Archives group, 
        City of Rochester Historian, neighbors and local veterans who research, 
        consult and plan the cemetery restoration processes.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What land reclamation processes were involved?">
      <ng-template ngbPanelContent>
        Weeds, vines and and wild “volunteer” vegetation covered 
        the sloped areas. Wild growth was eradicated by manual 
        effort. Scouting groups restored lawn surfaces by covering 
        the bare weed-free earth with layers of cardboard, mulch and 
        topsoil to block root regrowth.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What does the Rapids Cemetery “food forest” contain?">
      <ng-template ngbPanelContent>
        Toppled undisturbed trees created the conditions for the establishment 
        of wild black raspberry bushes. These heritage organic specimens are 
        now cultivated. Youth volunteers harvest the fruit which is donated to 
        local St. Peter’s Kitchen.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Who produced this self-guided technological tour?">
      <ng-template ngbPanelContent>
        The 19th Ward Community Association’s History & Archives Group worked 
        over a 2-year period with Rochester Institute of Technology undergraduate 
        teams under the direction of Professors Stephen Zilora and Mike Zink. The 
        teams included international members from Croatia.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
