<banner></banner>
<img class="img-fluid mx-auto d-block" src="../../../../../assets/img/trails.png" alt=""/>
<p>Rapids Cemetery served a pioneer Rochester settlement 
    along the Genesee River not far from today’s Erie Canal. 
    Its unique location draws touring visitors from the bicycle 
    and hiking trail junction in Genesee Valley Park to the east 
    and west Riverway Trail that draws visitors towards the Rochester 
    city center. Diverting from the Riverway Trail enables the visitor to 
    access several interpretive neighborhood walking and cycling trails. 
    Including these options enhances the heritage tourism opportunities 
    unique to Rochester. </p>
<card [whichItem]="'trail'"></card>