<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Take a Cemetery Tour</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
         ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid mx-auto" src="../../../../../assets/img/Unknown.png" width="500" height="500" alt="" />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-7 order-md-2">
      <h2>Learn About the History</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id 
        ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque 
        nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid mx-auto" src="../../../../../assets/img/Unknown.png" width="500" height="500" alt="" />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-7">
      <h2>Explore Nearby Historical Trails</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
         ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid mx-auto" src="../../../../../assets/img/Unknown.png" width="500" height="500" alt="" />
    </div>
  </div>
  <hr />
</div>
