<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Take a Cemetery Tour</h2>
      <p class="lead">Explore a two hundred year-old 1.5 acre cemetery that 
        served a pioneer Rochester, New York settlement. Known burials here include 
        persons serving in the Revolutionary War, War of 1812 and Civil War 
        plus civilians who played key roles in local development.
        <a routerLink="/tour/walking">Click here</a> experience interactively the history and beauty of one of Rochester’s 
        hidden gems.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid mx-auto" src="../../../../../assets/img/tourSpotlight.jpeg" width="500" height="500" alt="" />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-7 order-md-2">
      <h2>Learn About the History</h2>
      <p class="lead">Rapids Cemetery is rich with local history information 
        and important American historical themes of the 19th Century. 
        <a routerLink="/history/timeline">Click here</a> to learn about the timeline.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid mx-auto" src="../../../../../assets/img/historySpotlight.jpeg" width="500" height="500" alt="" />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-7">
      <h2>Explore Nearby Historical Trails</h2>
      <p class="lead">Visiting Rapids Cemetery offers the opportunity to 
        explore Rochester history further by touring nearby historical trails. 
        Several of these trails highlight Rochester neighborhoods. The map 
        showing the trail access locations will display the URL listing
        for specific information relating to the unique trail.
        <a routerLink="/trails">Click here</a> to view the nearby historical trails.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid mx-auto" src="../../../../../assets/img/trailSpotlight.jpg" width="500" height="500" alt="" />
    </div>
  </div>
</div>
