<div class="container">
  <div class="row">
    <img class="img-fluid mx-auto d-block" src="../../../../../assets/img/loomis.jpg" alt=""/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis varius pellentesque. 
        Vivamus vulputate orci ipsum, eget tincidunt felis mattis at. In mi urna, aliquet eu turpis 
        consectetur, vehicula finibus mi. Morbi sit amet eros ultrices ex pulvinar interdum vel id est. 
        Praesent eu sapien eget mi tempus tempor id eget tortor. Morbi sit amet suscipit sapien, vel euismod 
        purus. Pellentesque orci dui, congue id risus nec, sodales vehicula elit. In scelerisque, odio ac rhoncus 
        pretium, mi neque vehicula sapien, vitae dapibus metus sem nec felis. Suspendisse massa velit, tincidunt a 
        mollis vel, ultricies nec urna. Etiam vitae sodales tortor. Proin sed leo at urna aliquet congue. Duis augue 
        justo, placerat et purus eu, lacinia vulputate tellus. Integer feugiat at sapien et iaculis. Aenean consectetur 
        bibendum tellus, eget imperdiet dolor semper vel.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis varius pellentesque. 
        Vivamus vulputate orci ipsum, eget tincidunt felis mattis at. In mi urna, aliquet eu turpis 
        consectetur, vehicula finibus mi. Morbi sit amet eros ultrices ex pulvinar interdum vel id est. 
        Praesent eu sapien eget mi tempus tempor id eget tortor. Morbi sit amet suscipit sapien, vel euismod 
        purus. Pellentesque orci dui, congue id risus nec, sodales vehicula elit. In scelerisque, odio ac rhoncus 
        pretium, mi neque vehicula sapien, vitae dapibus metus sem nec felis. Suspendisse massa velit, tincidunt a 
        mollis vel, ultricies nec urna. Etiam vitae sodales tortor. Proin sed leo at urna aliquet congue. Duis augue 
        justo, placerat et purus eu, lacinia vulputate tellus. Integer feugiat at sapien et iaculis. Aenean consectetur 
        bibendum tellus, eget imperdiet dolor semper vel.</p>
  </div>
</div>